@import url("https://fonts.googleapis.com/css?family=Bubblegum+Sans");

body,
html {
  padding: 0;
  margin: 0;
  font-family: "Bubblegum Sans", cursive, sans-serif;
  background: linear-gradient(135deg, #2b323a 0%, #140e43 100%) no-repeat;
  min-height: 100vh;
}

* {
  box-sizing: border-box;
}

.app {
  width: 375px;
  height: 812px;
  margin: auto;
  display: flex;
  justify-content: center;
  padding: 82px 20px;
}

.board {
  display: flex;
  flex-direction: column;
  width: 320px;
  height: 435px;
  background: #27204c;
  border-radius: 32px;
  box-shadow: 0 0 1px 1px #221b32, 0 0 1px 3px #5c5078, 0 0 0px 6px #63577d, 0 0 6px 8px #171322,
    inset 0 0 15px 4px #271f4a, inset 0 0 4px 2px #1d0c1f, inset 0 0 20px 0px #1d0c1f;
  position: relative;
}

.board-header {
  height: 115px;
  min-height: 115px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.board-logo {
  max-width: 100%;
}

.board-game {
  flex: 1;
  padding: 5px;
}

.board-notif {
  display: none;
  position: absolute;
  top: 7px;
  left: 7px;
  right: 7px;
  bottom: 2px;
  background: linear-gradient(#fd72e1 0%, #fd72e1 26px, #feedf5 26px);
  border-radius: 25px;
  flex-direction: column;
  overflow: hidden;
  animation: bounceInUp 1s ease;
  box-shadow: inset 0 0 2px 0px #000000, inset 0 0 4px 2px #1d0c1f2e, 0 0 4px 2px #1d0c1f;
  z-index: 10;
}

.board-notif-title {
  text-align: center;
  text-transform: uppercase;
  color: #feedf3;
  font-size: 12px;
  font-weight: bold;
  padding: 5px;
}

.board-notif-body {
  display: flex;
  padding: 10px 26px;
}

.board-notif-number {
  font-weight: bold;
  color: #e450c3;
  font-size: 38px;
  margin-right: 24px;
  line-height: 66px;
}

.board-notif-content {
  font-size: 14px;
  font-weight: bold;
  color: #d77e92;
  padding: 10px 0;
}

.board-notif-badge {
  display: none;
  background-image: url("clear.png");
  background-repeat: no-repeat;
  background-size: cover;
  width: 70px;
  height: 70px;
  transform: rotate(-15deg);
  position: absolute;
  right: 2px;
  top: 0;
  z-index: 20;
  animation: sealIn 0.25s;
  animation-delay: 0.5s;
  animation-fill-mode: forwards;
  opacity: 0;
}

.bingo-list {
  display: flex;
  flex-wrap: wrap;
}

.bingo-item {
  width: 33.33%;
  position: relative;
  padding-top: 33.33%;
}

.bingo-item-inner {
  position: absolute;
  top: 3px;
  left: 3px;
  right: 3px;
  bottom: 3px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: white url("noise.png");
  border-radius: 25px;
  cursor: pointer;
  font-size: 30px;
  color: #9b2a3f;
  box-shadow: 0 0 5px 0px #b62195, inset 0 0 1px 0px #1d0c1f, inset 0px -10px 12px 2px #a74d4dc7,
    inset 0 0 40px 22px #b6213a, 0 0 4px 2px #1d0c1f;
}

.active .bingo-item-inner {
  font-size: 40px;
  color: white;
  text-shadow: 0 0 6px #b62195, 0 0 12px #e450c3;
  box-shadow: 0 0 7px 0px #b62195, inset 0 0 3px 0px #b62195, inset 0 0 4px 0px white, inset 0 0 3px 4px white,
    inset 0 0 30px 8px #b62195, 0 0 4px 2px #1d0c1f;
}

.active .bingo-item-inner::before {
  content: "";
  width: 120px;
  height: 120px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background: url("stars.png") no-repeat;
  background-position: 0 0;
  cursor: pointer;
  animation: fave-heart 1s steps(28);
}

@keyframes fave-heart {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: -3360px 0;
  }
}

.active .bingo-item-inner::after {
  content: "";
  position: absolute;
  border-radius: 25px;
  background: white url("noise.png");
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  animation: shining 0.4s reverse;
  opacity: 0;
  transform: scale(1.1);
}

@keyframes bang {
  to {
    box-shadow: 113px 56px #ffd200, 83px -87px #ffd200, 114px -155px #ffd200, 213px -44px #ffd200, -138px 23px #ffd200,
      -59px 61px #ffd200, -191px -39px #ffd200, 103px -142px #ffd200, 242px -138px #ffd200, -165px -261px #ffd200,
      50px -243px #ffd200, 82px 83px #ffd200, 40px -77px #ffd200, 181px 34px #ffd200, -107px -22px #ffd200;
  }
}

@keyframes shining {
  to {
    opacity: 1;
    transform: scale(1);
    box-shadow: 0 0 5px 0px #b62195, inset 0 0 1px 0px #1d0c1f, inset 0px 0px 12px 2px #a74d4dc7,
      inset 0 0 40px 30px #e0c963;
  }
}

@keyframes sealIn {
  0% {
    transform: rotate(-15deg) scale(3);
  }

  100% {
    opacity: 1;
    transform: rotate(-15deg) scale(1);
  }
}

@keyframes bounceInUp {
  from,
  60%,
  75%,
  90%,
  to {
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }

  from {
    opacity: 0;
    transform: translate3d(0, 30px, 0);
  }

  to {
    transform: translate3d(0, 0, 0);
  }
}

.bingo-starburst {
  list-style: none;
  margin: auto;
  padding: 0;
  position: relative;
  top: 140px;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  overflow: hidden;
  animation: starburstAppear 1.5s, spin 8s 1.5s infinite linear;
}

.bingo-starburst > li {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 50%;
  height: 50%;
  padding: 0;
  margin: 0;
  transform-origin: 0 0;
  background-image: linear-gradient(-197deg, #cb5fd4 10%, transparent 22%);
}

.bingo-starburst > li:nth-child(odd) {
  background-image: linear-gradient(-197deg, rgb(203, 95, 212) 10%, transparent 25%);
}

.bingo-starburst > li:nth-child(1) {
  transform: rotate(18deg) skewX(72deg);
}
.bingo-starburst > li:nth-child(2) {
  transform: rotate(36deg) skewX(72deg);
}
.bingo-starburst > li:nth-child(3) {
  transform: rotate(54deg) skewX(72deg);
}
.bingo-starburst > li:nth-child(4) {
  transform: rotate(72deg) skewX(72deg);
}
.bingo-starburst > li:nth-child(5) {
  transform: rotate(90deg) skewX(72deg);
}
.bingo-starburst > li:nth-child(6) {
  transform: rotate(108deg) skewX(72deg);
}
.bingo-starburst > li:nth-child(7) {
  transform: rotate(126deg) skewX(72deg);
}
.bingo-starburst > li:nth-child(8) {
  transform: rotate(144deg) skewX(72deg);
}
.bingo-starburst > li:nth-child(9) {
  transform: rotate(162deg) skewX(72deg);
}
.bingo-starburst > li:nth-child(10) {
  transform: rotate(180deg) skewX(72deg);
}
.bingo-starburst > li:nth-child(11) {
  transform: rotate(198deg) skewX(72deg);
}
.bingo-starburst > li:nth-child(12) {
  transform: rotate(216deg) skewX(72deg);
}
.bingo-starburst > li:nth-child(13) {
  transform: rotate(234deg) skewX(72deg);
}
.bingo-starburst > li:nth-child(14) {
  transform: rotate(252deg) skewX(72deg);
}
.bingo-starburst > li:nth-child(15) {
  transform: rotate(270deg) skewX(72deg);
}
.bingo-starburst > li:nth-child(16) {
  transform: rotate(288deg) skewX(72deg);
}
.bingo-starburst > li:nth-child(17) {
  transform: rotate(306deg) skewX(72deg);
}
.bingo-starburst > li:nth-child(18) {
  transform: rotate(324deg) skewX(72deg);
}
.bingo-starburst > li:nth-child(19) {
  transform: rotate(342deg) skewX(72deg);
}
.bingo-starburst > li:nth-child(20) {
  transform: rotate(360deg) skewX(72deg);
}

@keyframes starburstAppear {
  0%,
  75% {
    transform: scale(0);
  }

  92% {
    transform: scale(1.5);
  }

  100% {
    transform: scale(1);
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(359deg);
  }
}

.bingo {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 40;
  display: none;
}

.bingo-icon {
  position: absolute;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background: url("checked.png") no-repeat center center;
  left: 50%;
  transform: translateX(-50%) scale(0.85);
  z-index: 50;
  top: 190px;
  box-shadow: 0 0 13px 0 #cb5fd4;
  animation: bingoIconAppear 1.5s linear forwards, bingoIconIdle 1s 1.5s linear infinite forwards;
}

.bingo-bg {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 30;
  background: #100d20e8;
}

@keyframes bingoIconAppear {
  0%,
  66% {
    transform: translateX(-50%) scale(0);
  }

  83% {
    transform: translateX(-50%) scale(0.9);
    box-shadow: 0 0 21px 12px #f1e29b;
  }

  92% {
    transform: translateX(-50%) scale(0.85);
    box-shadow: 0 0 40px 12px #f1e29b;
  }

  100% {
    transform: translateX(-50%) scale(0.85);
    box-shadow: 0 0 13px 0 #cb5fd4;
  }
}

@keyframes bingoIconIdle {
  0%,
  100% {
    transform: translateX(-50%) scale(0.85);
    box-shadow: 0 0 8px 0px #150616, 0 0 13px 0 #cb5fd4;
  }

  50% {
    transform: translateX(-50%) scale(0.9);
    box-shadow: 0 0 8px 0px #150616, 0 0 25px 0 #cb5fd4;
  }
}

.svg {
  position: absolute;
  top: 140px;
  left: 50%;
  transform: translateX(-50%);
}

svg {
  cursor: pointer;
  overflow: visible;
  width: 200px;
  z-index: 40;
  color: #f1e29b;
}

.active svg #grp1 {
  opacity: 1;
  transition: 0.1s all 0.3s;
}
.active svg #grp1 #oval1 {
  transform: scale(0) translate(0, -30px);
  transform-origin: 0 0 0;
  transition: 0.5s transform 0.3s;
}
.active svg #grp1 #oval2 {
  transform: scale(0) translate(10px, -50px);
  transform-origin: 0 0 0;
  transition: 1.5s transform 0.3s;
}
.active svg #grp2 {
  opacity: 1;
  transition: 0.1s all 0.3s;
}
.active svg #grp2 #oval1 {
  transform: scale(0) translate(30px, -15px);
  transform-origin: 0 0 0;
  transition: 0.5s transform 0.3s;
}
.active svg #grp2 #oval2 {
  transform: scale(0) translate(60px, -15px);
  transform-origin: 0 0 0;
  transition: 1.5s transform 0.3s;
}
.active svg #grp3 {
  opacity: 1;
  transition: 0.1s all 0.3s;
}
.active svg #grp3 #oval1 {
  transform: scale(0) translate(30px, 0px);
  transform-origin: 0 0 0;
  transition: 0.5s transform 0.3s;
}
.active svg #grp3 #oval2 {
  transform: scale(0) translate(60px, 10px);
  transform-origin: 0 0 0;
  transition: 1.5s transform 0.3s;
}
.active svg #grp4 {
  opacity: 1;
  transition: 0.1s all 0.3s;
}
.active svg #grp4 #oval1 {
  transform: scale(0) translate(30px, 15px);
  transform-origin: 0 0 0;
  transition: 0.5s transform 0.3s;
}
.active svg #grp4 #oval2 {
  transform: scale(0) translate(40px, 50px);
  transform-origin: 0 0 0;
  transition: 1.5s transform 0.3s;
}
.active svg #grp5 {
  opacity: 1;
  transition: 0.1s all 0.3s;
}
.active svg #grp5 #oval1 {
  transform: scale(0) translate(-10px, 20px);
  transform-origin: 0 0 0;
  transition: 0.5s transform 0.3s;
}
.active svg #grp5 #oval2 {
  transform: scale(0) translate(-60px, 30px);
  transform-origin: 0 0 0;
  transition: 1.5s transform 0.3s;
}
.active svg #grp6 {
  opacity: 1;
  transition: 0.1s all 0.3s;
}
.active svg #grp6 #oval1 {
  transform: scale(0) translate(-30px, 0px);
  transform-origin: 0 0 0;
  transition: 0.5s transform 0.3s;
}
.active svg #grp6 #oval2 {
  transform: scale(0) translate(-60px, -5px);
  transform-origin: 0 0 0;
  transition: 1.5s transform 0.3s;
}
.active svg #grp7 {
  opacity: 1;
  transition: 0.1s all 0.3s;
}
.active svg #grp7 #oval1 {
  transform: scale(0) translate(-30px, -15px);
  transform-origin: 0 0 0;
  transition: 0.5s transform 0.3s;
}
.active svg #grp7 #oval2 {
  transform: scale(0) translate(-55px, -30px);
  transform-origin: 0 0 0;
  transition: 1.5s transform 0.3s;
}
.active svg #grp2 {
  opacity: 1;
  transition: 0.1s opacity 0.3s;
}
.active svg #grp3 {
  opacity: 1;
  transition: 0.1s opacity 0.3s;
}
.active svg #grp4 {
  opacity: 1;
  transition: 0.1s opacity 0.3s;
}
.active svg #grp5 {
  opacity: 1;
  transition: 0.1s opacity 0.3s;
}
.active svg #grp6 {
  opacity: 1;
  transition: 0.1s opacity 0.3s;
}
.active svg #grp7 {
  opacity: 1;
  transition: 0.1s opacity 0.3s;
}

.bingo-footer {
  position: absolute;
  width: 100%;
  text-align: center;
  top: 100%;
  color: white;
}

.bingo-description {
  padding: 20px;
  animation: bingoDescription 2s linear;
}

.bingo-button {
  font-size: 24px;
  color: #c24d00;
  animation: button 2s linear;
  background: url("noise.png");
  width: 145px;
  margin: auto;
  margin-top: -5px;
  padding: 20px;
  border-radius: 30px;
  position: relative;
  cursor: pointer;
  box-shadow: 0px 3px 10px 0 #150616, inset 0px -5px 3px 0px #f5c24e;
  animation: bingoButton 2s linear;
}

.bingo-button::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border-radius: 30px;
  background-image: linear-gradient(180deg, #f8e663, #ffb51e);
  box-shadow: inset 0px -20px 10px 6px #feb21e;
  z-index: -1;
}

.bingo-text {
  position: absolute;
  width: 215px;
  left: 50%;
  top: 25px;
  transform: translateX(-50%);
  height: 100px;
  background: url(bingo.png) no-repeat;
  background-size: contain;
  animation: bingoText 1s linear;
}

@keyframes bingoText {
  0% {
    top: 200px;
    transform: translateX(-50%) scale(0);
  }

  25% {
    top: 200px;
    transform: translateX(-50%) scale(1.5);
  }

  35%,
  75% {
    top: 200px;
    transform: translateX(-50%) scale(1);
  }

  85% {
    top: 0px;
  }

  100% {
    top: 25px;
  }
}

@keyframes bingoDescription {
  0%,
  75% {
    transform: translateY(10px);
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes bingoButton {
  0%,
  90% {
    transform: scale(0);
    opacity: 0;
  }

  95% {
    transform: scale(1.25);
    opacity: 1;
  }

  100% {
    transform: scale(1);
    opacity: 1;
  }
}
